<template>
  <div class="w-100 h-100 d-flex flex-column">
    <h1>All Posts</h1>
    <div class="table-responsive flex-grow-1">
      <table class="table">
        <TableHead
          :columns="['#', 'Title', 'Author', 'Tags', 'Excerpt', 'Created', '']"
        />
        <tbody v-if="loading">
          <TableRowLoading v-for="n in 10" v-bind:key="n" />
        </tbody>
        <tbody v-else>
          <TableRow
            v-for="(article, index) in articles"
            v-bind:key="article.title"
            :article="article"
            :index="index"
            @article:select="(slug: string) => (selectedArticleSlug = slug)"
            @article:edit="navigateToEdit"
          />
        </tbody>
      </table>
    </div>
    <TablePaginationLoading v-if="loading" />
    <TablePagination v-else :count="articlesCount" />
    <DeleteArticleModal
      @article:filter="filterArticle"
      :selectedArticleSlug="selectedArticleSlug"
    />
  </div>
</template>
<script setup lang="ts">
import { getArticles as useArticle } from '@/libs/dataLayer/operations/articles/articles';
import TablePagination from './components/TablePagination/TablePagination.vue';
import TableHead from './components/TableHead/TableHead.vue';
import { onMounted, ref, watch } from 'vue';
import type { Article } from '@/libs/dataLayer/model';
import TableRow from './components/TableRow/TableRow.vue';
import TableRowLoading from './components/TableRow/TableRowLoading.vue';
import TablePaginationLoading from './components/TablePagination/TablePaginationLoading.vue';
import { useRoute, useRouter } from 'vue-router';
import DeleteArticleModal from './components/DeleteArticleModal/DeleteArticleModal.vue';

const { getArticles } = useArticle();
const route = useRoute();
const router = useRouter();

const loading = ref(false);
const articles = ref<Article[]>([]);
const articlesCount = ref<number>(1);
const selectedArticleSlug = ref<string>('');

const page = ref<number>(
  route.params.page ? parseInt(route.params.page as string, 10) : 1,
);

const navigateToEdit = () =>
  router.push({
    name: 'edit-article',
    params: { slug: selectedArticleSlug.value },
  });

const filterArticle = () =>
  (articles.value = articles.value.filter(
    article => article.slug !== selectedArticleSlug.value,
  ));

const fetchArticles = () => {
  loading.value = true;
  getArticles({ offset: (page.value - 1) * 10, limit: 10 }).then(res => {
    articles.value = res.data.articles;
    articlesCount.value = res.data.articlesCount;
    loading.value = false;
  });
};

watch(
  () => route.params.page,
  newPage => {
    page.value = newPage ? +newPage : 1;
    fetchArticles();
  },
);

onMounted(fetchArticles);
</script>
