<template>
  <div>
    <h1 class="header">Edit Article</h1>
    <ArticleFormLoading v-if="articleLoading" />
    <ArticleForm v-else :article="article" />
  </div>
</template>
<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { getArticles as useArticle } from '@/libs/dataLayer/operations/articles/articles';
import ArticleForm from './components/ArticleForm/ArticleForm.vue';
import { useRoute } from 'vue-router';
import type { Article } from '@/libs/dataLayer/model';
import ArticleFormLoading from './components/ArticleForm/ArticleFormLoading.vue';

const route = useRoute();

const slug = (route.params.slug as string) ?? '';

const articleLoading = ref(false);
const article = ref<Article>();

const { getArticle } = useArticle();

onMounted(() => {
  articleLoading.value = true;
  getArticle(slug)
    .then(res => {
      article.value = res.data.article;
    })
    .finally(() => {
      articleLoading.value = false;
    });
});
</script>
<style scoped>
.header {
  margin-bottom: 24px;
}
</style>
