<template>
  <div class="register-box">
    <div>
      <h1 class="title">Login</h1>
    </div>
    <LoginForm />
  </div>
</template>
<script setup lang="ts">
import LoginForm from './components/LoginForm/LoginForm.vue';
</script>
<style scoped>
.register-box {
  width: 450px;
  min-height: 423px;
  background-color: var(--silver);
  border-radius: 4px;
  padding: 35px 20px 20px;
}
.title {
  width: fit-content;
  margin: auto;
  color: var(--warm-gray);
  padding-bottom: 49px;
  font-size: 47px;
}

@media screen and (max-width: 768px) {
  .register-box {
    width: 100%;
    height: 100%;
  }
}
</style>
