<template>
  <AuthLayout>
    <div class="register-box">
      <div>
        <h1 class="title">Register</h1>
      </div>
      <RegisterForm />
      <RouterLink to="login">
        <div class="msg">
          <span>Already Registered?</span>
          <span class="font-weight-bold login">Login</span>
        </div>
      </RouterLink>
    </div>
  </AuthLayout>
</template>

<script setup lang="ts">
import AuthLayout from '@/layouts/AuthLayout/AuthLayout.vue';
import RegisterForm from './components/RegisterForm/RegisterForm.vue';
</script>

<style scoped>
.register-box {
  width: 450px;
  min-height: 528px;
  background-color: var(--silver);
  border-radius: 4px;
  padding: 35px 20px 20px;
}
.title {
  width: fit-content;
  margin: auto;
  color: var(--warm-gray);
  padding-bottom: 49px;
  font-size: 47px;
}

.msg {
  margin-top: 15px;
  color: var(--charcoal-grey);
}
.login {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .register-box {
    width: 100%;
    height: 100%;
  }
}
</style>
