<template>
  <div>
    <form @submit.prevent="addTag">
      <TextInput
        id="tag"
        label="Tags"
        placeholder="New tag"
        type="text"
        v-model="tag"
        err=""
      />
    </form>
    <div class="wrapper">
      <div v-if="tagsLoading">
        <TagItemLoading v-for="n in 10" v-bind:key="n" />
      </div>
      <div v-else class="form-group form-check">
        <TagItem v-for="tag in tags" :tag="tag" v-bind:key="tag" />
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import TextInput from '@/libs/design/TextInput/TextInput.vue';
import { getTags } from '@/libs/dataLayer/operations/tags/tags';
import { onMounted, ref } from 'vue';
import TagItem from './TagItem.vue';
import TagItemLoading from './TagItemLoading.vue';
import { useField } from 'vee-validate';

const { getTags: getAllTags } = getTags();
const tags = ref<string[]>([]);
const tag = ref('');
const { value: tagList } = useField<string[]>('article.tagList');

const tagsLoading = ref(false);

const addTag = () => {
  if (tags.value.includes(tag.value)) return;
  tags.value.push(tag.value);
  tagList.value.push(tag.value);
  tag.value = '';
};

onMounted(() => {
  tagsLoading.value = true;
  getAllTags()
    .then(res => {
      tags.value = res.data.tags.sort();
    })
    .finally(() => {
      tagsLoading.value = false;
    });
});
</script>
<style scoped>
.wrapper {
  border: 1px solid var(--slate-gray-light);
  padding: 17px;
  border-radius: 4px;
}
</style>
