<template>
  <form @submit.prevent="onsubmit">
    <div class="form-group form">
      <TextInput
        label="User"
        id="username"
        type="text"
        :err="errors['user.username']"
        v-model.trim="username"
      />

      <TextInput
        label="Email"
        id="email"
        type="text"
        :err="errors['user.email']"
        v-model.trim="email"
      />

      <TextInput
        label="Password"
        id="password"
        type="password"
        :err="errors['user.password']"
        v-model.trim="password"
      />
    </div>
    <button :disabled="loading" type="submit" class="btn btn-primary w-100">
      <span v-if="!loading"> Register </span>
      <SpinnerLoading v-else />
    </button>
  </form>
</template>
<script setup lang="ts">
import { ref } from 'vue';
import { getUserAndAuthentication } from '@/libs/dataLayer/operations/user-and-authentication/user-and-authentication';
import { createUserBody } from '@/libs/dataLayer/schema/user-and-authentication/user-and-authentication';
import TextInput from '@/libs/design/TextInput/TextInput.vue';
import { useForm, useField } from 'vee-validate';
import { toTypedSchema } from '@vee-validate/zod';
import type { CreateUserBody } from '@/libs/dataLayer/schema/user-and-authentication/user-and-authentication';
import SpinnerLoading from '@/libs/design/Spinner/SpinnerLoading.vue';
import { useRouter } from 'vue-router';
import { useToasterStore } from '@/libs/store/toastStore';
import { formatError } from '@/libs/api/formatError';

const loading = ref(false);

const { createUser } = getUserAndAuthentication();
const router = useRouter();
const { success, error } = useToasterStore();

const { errors, handleSubmit } = useForm<CreateUserBody>({
  validationSchema: toTypedSchema(createUserBody),
  validateOnMount: false,
});

const { value: username } = useField('user.username');
const { value: email } = useField('user.email');
const { value: password } = useField('user.password');

const onsubmit = handleSubmit(dto => {
  loading.value = true;

  createUser(dto)
    .then(() => {
      success({ text: 'Registered Successfully' });
      router.push('login');
    })
    .catch(err => {
      error({ text: formatError(err.response.data.errors) });
    })
    .finally(() => {
      loading.value = false;
    });
});
</script>
<style scoped>
.label {
  color: var(--charcoal-grey);
}
.form {
  display: flex;
  flex-direction: column;
}
.err {
  display: inline-block;
  margin: 10px 0;
  color: var(--brick);
}
.msg {
  margin-top: 15px;
  color: var(--charcoal-grey);
}
</style>
