<template>
  <div class="d-flex mb-2">
    <SkeletonLoading style="width: 10px; height: 10px" />
    <SkeletonLoading class="ml-2" style="width: 100px; height: 10px" />
  </div>
</template>
<script setup lang="ts">
import SkeletonLoading from '@/libs/design/Skeleton/SkeletonLoading.vue';
</script>
