<template>
  <div>
    <input
      @change="handleChange(tag)"
      type="checkbox"
      class="form-check-input"
      :id="tag"
      :checked="tagList.includes(tag)"
      disabled
    />
    <label class="form-check-label text-capitalize" :for="tag">{{ tag }}</label>
  </div>
</template>
<script setup lang="ts">
import { useField } from 'vee-validate';

interface Props {
  tag: string;
}
defineProps<Props>();

const { value: tagList } = useField<string[]>('article.tagList');

const handleChange = (tag: string) => {
  if (tagList.value.includes(tag)) {
    tagList.value = tagList.value.filter(item => item !== tag);
    return;
  }
  tagList.value.push(tag);
};
</script>
