<template>
  <Teleport to="body">
    <div
      class="show toast-item position-absolute"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      v-if="toast.show"
      :class="{
        'bg-pinkish-grey text-pale-red': toast.toast.status === 'error',
        'bg-light-grey-green text-military-green':
          toast.toast.status === 'success',
      }"
    >
      <div class="toast-body">
        <button
          type="button"
          class="ml-2 mb-1 close"
          data-dismiss="toast"
          aria-label="Close"
          @click="toast.close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <div>
          {{ toast.toast.text }}
        </div>
      </div>
    </div>
  </Teleport>
</template>
<script setup lang="ts">
import { useToasterStore } from '@/libs/store/toastStore';

const toast = useToasterStore();
</script>
<style scoped>
.toast-item {
  width: 320px;
  top: 30px;
  right: 30px;
  border-radius: 3px;
  z-index: 1051;
}
</style>
