<template>
  <div class="h-100 d-flex flex-column">
    <NavBar />
    <div class="d-flex flex-grow-1 w-100">
      <div class="sidebar h-100">
        <SidebarItems />
      </div>
      <div class="content flex-grow-1 h-100">
        <slot />
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import NavBar from './components/NavBar/NavBar.vue';
import SidebarItems from './components/SidebarItems/SidebarItems.vue';
</script>
<style scoped>
.sidebar {
  width: 250px;
  background-color: var(--water-blue);
}

.sidebar-title {
  padding: 13px 20px 16px 20px;
}
.sidebar-item {
  padding: 11px 34px;
}

.content {
  overflow: auto;
  padding: 24px 40px 73px 31px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .content {
    padding: 24px;
  }
}
</style>
