<template>
  <form @submit.prevent="onsubmit">
    <div class="form-group form">
      <TextInput
        label="Email"
        id="email"
        type="text"
        :err="errors['user.email']"
        v-model.trim="email"
      />

      <TextInput
        label="Password"
        id="password"
        type="password"
        :err="errors['user.password']"
        v-model.trim="password"
      />
    </div>
    <button :disabled="loading" type="submit" class="btn btn-primary w-100">
      <span v-if="!loading"> Login </span>
      <SpinnerLoading v-else />
    </button>
  </form>
</template>
<script setup lang="ts">
import { ref } from 'vue';
import { getUserAndAuthentication } from '@/libs/dataLayer/operations/user-and-authentication/user-and-authentication';
import { loginBody } from '@/libs/dataLayer/schema/user-and-authentication/user-and-authentication';
import TextInput from '@/libs/design/TextInput/TextInput.vue';
import { useForm, useField } from 'vee-validate';
import { toTypedSchema } from '@vee-validate/zod';
import type { LoginBody } from '@/libs/dataLayer/schema/user-and-authentication/user-and-authentication';
import SpinnerLoading from '@/libs/design/Spinner/SpinnerLoading.vue';
import { useRouter } from 'vue-router';
import { useAuthStore } from '@/libs/store/authStore';
import { useToasterStore } from '@/libs/store/toastStore';
import { formatError } from '@/libs/api/formatError';

const loading = ref(false);

const { login } = getUserAndAuthentication();
const { setToken, setUser } = useAuthStore();
const router = useRouter();
const { success, error } = useToasterStore();

const { errors, handleSubmit } = useForm<LoginBody>({
  validationSchema: toTypedSchema(loginBody),
  validateOnMount: false,
});

const { value: email } = useField('user.email');
const { value: password } = useField('user.password');

const onsubmit = handleSubmit(dto => {
  loading.value = true;

  login(dto)
    .then(res => {
      setToken(res.data.user.token);
      setUser(res.data.user);
      success({ text: 'Logged in Successfully' });
      router.push('articles');
    })
    .catch(err => {
      error({ text: formatError(err.response.data.errors) });
    })
    .finally(() => {
      loading.value = false;
    });
});
</script>
