<template>
  <tr>
    <td class="center-td">
      <SkeletonLoading style="width: 15px; height: 10px" />
    </td>
    <td class="center-td">
      <SkeletonLoading style="width: 100px; height: 10px" />
    </td>
    <td class="center-td">
      <SkeletonLoading style="width: 100px; height: 10px" />
    </td>
    <td class="center-td">
      <SkeletonLoading style="width: 100px; height: 10px" />
    </td>
    <td class="center-td">
      <SkeletonLoading style="width: 100px; height: 10px" />
    </td>
    <td class="center-td">
      <SkeletonLoading style="width: 100px; height: 10px" />
    </td>
    <td class="center-td">
      <SkeletonLoading style="width: 50px; height: 30px" />
    </td>
  </tr>
</template>
<script setup lang="ts">
import SkeletonLoading from '@/libs/design/Skeleton/SkeletonLoading.vue';
</script>
<style scoped>
.center-td {
  vertical-align: middle;
}
</style>
