<template>
  <tr>
    <td>{{ (page - 1) * 10 + index + 1 }}</td>
    <td
      class="text-overflow-ellipsis"
      style="max-width: 200px"
      data-toggle="tooltip"
      data-placement="top"
      :title="article.title"
    >
      {{ article.title }}
    </td>
    <td>@{{ article.author.username }}</td>
    <td
      data-toggle="tooltip"
      data-placement="top"
      :title="article.tagList.join(', ')"
      class="text-overflow-ellipsis"
      style="max-width: 200px"
    >
      {{ article.tagList.join(', ') }}
    </td>
    <td>{{ article.body.slice(0, 20) }}...</td>
    <td>{{ new Date(article.createdAt).toDateString().slice(3, -1) }}</td>
    <td>
      <div class="btn-group">
        <button
          type="button"
          class="btn-sm action-btn text-white dropdown-toggle"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          ...
        </button>
        <div class="dropdown-menu">
          <a
            class="dropdown-item cursor-pointer"
            @click="
              emit('article:select', article.slug);
              emit('article:edit');
            "
            >Edit</a
          >
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            type="button"
            data-toggle="modal"
            data-target="#deleteModal"
            @click="emit('article:select', article.slug)"
            >Delete</a
          >
        </div>
      </div>
    </td>
  </tr>
</template>
<script setup lang="ts">
import type { Article } from '@/libs/dataLayer/model';
import { useRoute } from 'vue-router';

interface Props {
  article: Article;
  index: number;
}

defineProps<Props>();
const emit = defineEmits(['article:select', 'article:edit']);

const route = useRoute();

const page = route.params.page ? parseInt(route.params.page as string, 10) : 1;
</script>
<style scoped>
.action-btn {
  border: none;
  background-color: var(--dark-sky-blue);
}
.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
