<template>
  <form @submit.prevent="emit('submit:form')">
    <TextInput
      id="title"
      label="Title"
      type="text"
      placeholder="Title"
      v-model.trim="title"
      :err="errors['article.title']"
    />
    <TextInput
      id="description"
      label="Description"
      placeholder="Description"
      type="text"
      v-model.trim="description"
      :err="errors['article.description']"
    />
    <TextArea
      id="body"
      label="Body"
      style="height: 207px; resize: none"
      type="text"
      v-model.trim="body"
      :err="errors['article.body']"
    />
    <button :disabled="loading" type="submit" class="btn btn-primary mt-4">
      <span v-if="!loading">Submit</span>
      <SpinnerLoading v-else />
    </button>
  </form>
</template>
<script setup lang="ts">
import TextInput from '@/libs/design/TextInput/TextInput.vue';
import TextArea from '@/libs/design/TextArea/TextArea.vue';
import SpinnerLoading from '@/libs/design/Spinner/SpinnerLoading.vue';
import { inject } from 'vue';
import { useField } from 'vee-validate';

interface Props {
  errors: any;
}

defineProps<Props>();
const emit = defineEmits(['submit:form']);

const { value: title } = useField('article.title');
const { value: description } = useField('article.description');
const { value: body } = useField('article.body');

const loading = inject<boolean>('loading');
</script>
