<template>
  <div>
    <label
      class="label"
      :class="{ 'validation-error': err && err.length > 0 }"
      :for="id"
      >{{ label }}</label
    >
    <textarea
      v-bind="$attrs"
      v-model="model"
      :class="{ 'validation-error': err && err.length > 0 }"
      class="form-control"
      :id="id"
    />
    <small class="err">{{ err }}</small>
  </div>
</template>
<script setup lang="ts">
interface Props {
  label: string;
  id: string;
  err: string | undefined;
}

defineProps<Props>();
defineOptions({ inheritAttrs: false });

const model = defineModel();
</script>
<style scoped>
.label {
  color: var(--charcoal-grey);
}
.err {
  display: inline-block;
  color: var(--brick);
}
.validation-error {
  color: var(--brick) !important;
  border-color: var(--brick);
}
</style>
