<template>
  <ul class="pagination">
    <li @click="emit('pagination:handleBack')" class="page-item cursor-pointer">
      <a class="page-link text-gray" aria-label="Previous">
        <span aria-hidden="true">&lt;</span>
      </a>
    </li>

    <li
      @click="emit('pagination:handleNavigate', 1)"
      class="page-item cursor-pointer"
      :class="{ active: page === 1 }"
    >
      <a class="page-link text-gray">1</a>
    </li>

    <slot v-if="![1, 2, pages - 1, pages].includes(page)">
      <li>
        <a class="page-link text-gray">...</a>
      </li>
      <li
        v-for="n in [-1, 0, 1]"
        v-bind:key="n"
        @click="emit('pagination:handleNavigate', n + page)"
        class="page-item cursor-pointer"
        :class="{ active: page === n + page }"
      >
        <a class="page-link text-gray">{{ n + page }}</a>
      </li>
      <li>
        <a class="page-link text-gray">...</a>
      </li>
    </slot>
    <slot v-else>
      <li
        @click="emit('pagination:handleNavigate', 2)"
        class="page-item cursor-pointer"
        :class="{ active: page === 2 }"
      >
        <a class="page-link text-gray">2</a>
      </li>
      <li>
        <a class="page-link text-gray">...</a>
      </li>
      <li
        @click="emit('pagination:handleNavigate', pages - 1)"
        class="page-item cursor-pointer"
        :class="{ active: page === pages - 1 }"
      >
        <a class="page-link text-gray">{{ pages - 1 }}</a>
      </li>
    </slot>

    <li
      @click="emit('pagination:handleNavigate', pages)"
      :class="{ active: page === pages }"
      class="page-item cursor-pointer"
    >
      <a class="page-link text-gray">{{ pages }}</a>
    </li>

    <li
      @click="emit('pagination:handleForward')"
      class="page-item cursor-pointer"
    >
      <a class="page-link text-gray" aria-label="Next">
        <span aria-hidden="true">&gt;</span>
      </a>
    </li>
  </ul>
</template>
<script setup lang="ts">
interface Props {
  page: number;
  pages: number;
}
defineProps<Props>();

const emit = defineEmits([
  'pagination:handleBack',
  'pagination:handleNavigate',
  'pagination:handleForward',
]);
</script>
<style scoped>
.text-gray {
  color: var(--charcoal-grey);
}
</style>
