<template>
  <ul class="pagination">
    <li @click="emit('pagination:handleBack')" class="page-item cursor-pointer">
      <a class="page-link text-gray" aria-label="Previous">
        <span aria-hidden="true">&lt;</span>
      </a>
    </li>
    <li
      v-for="n in pages"
      v-bind:key="n"
      @click="emit('pagination:handleNavigate', n)"
      class="page-item cursor-pointer"
      :class="{ active: page === n }"
    >
      <a class="page-link text-gray">{{ n }}</a>
    </li>
    <li
      @click="emit('pagination:handleForward')"
      class="page-item cursor-pointer"
    >
      <a class="page-link text-gray" aria-label="Next">
        <span aria-hidden="true">&gt;</span>
      </a>
    </li>
  </ul>
</template>
<script setup lang="ts">
interface Props {
  page: number;
  pages: number;
}
defineProps<Props>();

const emit = defineEmits([
  'pagination:handleBack',
  'pagination:handleNavigate',
  'pagination:handleForward',
]);
</script>
<style scoped>
.text-gray {
  color: var(--charcoal-grey);
}
</style>
