<template>
  <nav class="mx-auto">
    <SkeletonLoading style="width: 180px; height: 40px" />
  </nav>
</template>
<script setup lang="ts">
import SkeletonLoading from '@/libs/design/Skeleton/SkeletonLoading.vue';
</script>
