<template>
  <nav class="mx-auto" aria-label="Page navigation">
    <SmallPagination
      v-if="pages <= 5"
      :page="page"
      :pages="pages"
      @pagination:handleBack="handleBack"
      @pagination:handleNavigate="handleNavigate"
      @pagination:handleForward="handleForward"
    />
    <BigPagination
      v-else
      :page="page"
      :pages="pages"
      @pagination:handleBack="handleBack"
      @pagination:handleNavigate="handleNavigate"
      @pagination:handleForward="handleForward"
    />
  </nav>
</template>
<script setup lang="ts">
import { useRoute, useRouter } from 'vue-router';
import { watch, ref } from 'vue';
import SmallPagination from './SmallPagination.vue';
import BigPagination from './BigPagination.vue';

interface Props {
  count: number;
}
const props = defineProps<Props>();

const route = useRoute();
const router = useRouter();

const page = ref<number>(
  route.params.page ? parseInt(route.params.page as string, 10) : 1,
);

watch(
  () => route.params.page,
  newPage => {
    page.value = +newPage;
    return '';
  },
);

const limit = 10;
const pages = Math.ceil(props.count / limit);

const handleBack = () => {
  if (page.value === 1 || !page.value) return;
  if (page.value === 2) {
    router.push({ name: 'articles' });
    return;
  }
  router.push({ name: 'articles-page', params: { page: page.value - 1 } });
};
const handleNavigate = (newPage: number) => {
  if (newPage === 1) {
    router.push({ name: 'articles' });
    return;
  }
  router.push({ name: 'articles-page', params: { page: newPage } });
};
const handleForward = () => {
  if (page.value === pages) return;
  router.push({ name: 'articles-page', params: { page: page.value + 1 } });
};
</script>
<style scoped>
.text-gray {
  color: var(--charcoal-grey);
}
</style>
