<template>
  <div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
    aria-labelledby="delete article modal"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteArticle">Delete Article</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mb-4">Are you sure to delete Article?</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-secondary"
            data-dismiss="modal"
          >
            No
          </button>
          <button @click="handleDelete" type="button" class="btn btn-danger">
            <span v-if="!loading">Yes</span>
            <SpinnerLoading v-else />
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { ref } from 'vue';
import { getArticles as useArticle } from '@/libs/dataLayer/operations/articles/articles';
import SpinnerLoading from '@/libs/design/Spinner/SpinnerLoading.vue';
import { createToken } from '@/libs/api/createToken';
import { useToasterStore } from '@/libs/store/toastStore';
import { formatError } from '@/libs/api/formatError';

interface Props {
  selectedArticleSlug: string;
}
const props = defineProps<Props>();

const emit = defineEmits(['article:filter']);

const { deleteArticle } = useArticle();
const { success, error } = useToasterStore();

const loading = ref(false);

const handleDelete = () => {
  loading.value = true;
  deleteArticle(props.selectedArticleSlug, {
    headers: {
      Authorization: createToken(),
    },
  })
    .then(() => {
      success({ text: 'Article deleted Successfully' });
      emit('article:filter');
    })
    .catch(err => {
      error({ text: formatError(err.response.data.message) });
    })
    .finally(() => {
      loading.value = false;
    });
};
</script>
