<template>
  <div>
    <h1 class="header">New Article</h1>
    <div class="d-flex wrapper">
      <div class="flex-grow-1 main-form">
        <ArticleForm @submit:form="onsubmit" :errors="errors" />
      </div>
      <div class="tags">
        <TagsForm />
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { ref, provide } from 'vue';
import { getArticles } from '@/libs/dataLayer/operations/articles/articles';
import { createArticleBody } from '@/libs/dataLayer/schema/articles/articles';
import type { CreateArticleBody } from '@/libs/dataLayer/schema/articles/articles';
import { useForm } from 'vee-validate';
import { useRouter } from 'vue-router';
import TagsForm from './components/Tags/TagsForm.vue';
import ArticleForm from './components/ArticleForm/ArticleForm.vue';
import { toTypedSchema } from '@vee-validate/zod';
import { createToken } from '@/libs/api/createToken';
import { useToasterStore } from '@/libs/store/toastStore';
import { formatError } from '@/libs/api/formatError';

const loading = ref(false);

const { createArticle } = getArticles();
const router = useRouter();
const { success, error } = useToasterStore();

const { errors, handleSubmit } = useForm<CreateArticleBody>({
  validationSchema: toTypedSchema(createArticleBody),
  validateOnMount: false,
  initialValues: {
    article: { tagList: [] },
  },
});

provide('loading', loading);

const onsubmit = handleSubmit(dto => {
  loading.value = true;

  createArticle(dto, {
    headers: {
      Authorization: createToken(),
    },
  })
    .then(() => {
      success({ text: 'Article Created Successfully' });
      router.push('/articles');
    })
    .catch(err => {
      error({ text: formatError(err.response.data.errors) });
    })
    .finally(() => {
      loading.value = false;
    });
});
</script>
<style scoped>
.header {
  margin-bottom: 24px;
}
.wrapper {
  gap: 31px;
}
.tags {
  width: 250px;
}
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .main-form {
    order: 1;
  }
  .tags {
    width: 100%;
  }
}
</style>
