<template>
  <button @click="handleLogout" class="btn logout-btn" type="submit">
    Logout
  </button>
</template>
<script setup lang="ts">
import { useAuthStore } from '@/libs/store/authStore';
import { useRouter } from 'vue-router';

const { logout } = useAuthStore();
const router = useRouter();

const handleLogout = () => {
  logout();
  router.push({ name: 'login' });
};
</script>
<style scoped>
.logout-btn {
  padding: 11px 18px;
  color: var(--dark-sky-blue);
  border: 1px solid var(--dark-sky-blue);
}
.logout-btn:hover {
  background-color: var(--dark-sky-blue);
  color: white;
}
@media screen and (max-width: 768px) {
  .logout-btn {
    display: none;
  }
}
</style>
