<template>
  <nav
    class="nav navbar navbar-dark d-flex justify-content-between align-items-center text-white"
  >
    <div class="d-flex align-items-baseline">
      <a class="text-lg nav-title text-white">Arvan Challenge</a>
      <div class="user-greet">Welcome {{ user?.username }}</div>
    </div>
    <div>
      <LogoutButton />
      <NavMobileToggle />
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <SidebarItems />
    </div>
  </nav>
</template>
<script setup lang="ts">
import SidebarItems from '../SidebarItems/SidebarItems.vue';
import NavMobileToggle from './NavMobileToggle.vue';
import LogoutButton from './LogoutButton.vue';
import { useAuthStore } from '@/libs/store/authStore';

const { user } = useAuthStore();
</script>
<style scoped>
.nav {
  padding: 17px 30px 17px 20px;
  background-color: var(--charcoal-grey);
}
.nav-title {
  margin-right: 24px;
}

@media screen and (max-width: 768px) {
  .user-greet {
    display: none;
  }
}
</style>
