<template>
  <button
    class="navbar-toggler nav-toggle"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
</template>
<style scoped>
.nav-toggle {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-toggle {
    display: block;
  }
}
</style>
