:root {
  --charcoal-grey: #373a3c;
  --gunmetal: #55595c;
  --gunmetal-light: #777777;
  --warm-gray: #707070;
  --slate-gray: #818a91;
  --slate-gray-light: #dddddd;
  --silver: #eceeef;
  --water-blue: #1c7cd5;
  --green: #5cb85c;
  --blue: #56c0e0;
  --orange: #f0ad4e;
  --pale-red: #d9534f;
  --water-blue-light: #dcedf6;
  --green-light: #e2eed8;
  --orange-light: #fcf7e4;
  --red-light: #efdfdf;
  --dark-sky-blue: #5bc0de;
  --brick: #cb2e25;
  --pinkish-grey: #e7cecd;
  --light-grey-green: #e2eed8;
  --military-green: #4b713d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

.text-md {
  font-size: 18px;
}

.text-lg {
  font-size: 22px;
}

.text-charcoal-grey {
  color: var(--charcoal-grey);
}
.bg-charcoal-grey {
  background-color: var(--charcoal-grey);
}
.text-gunmetal {
  color: var(--gunmetal);
}
.bg-gunmetal {
  background-color: var(--gunmetal);
}
.text-gunmetal-light {
  color: var(--gunmetal-light);
}
.bg-gunmetal-light {
  background-color: var(--gunmetal-light);
}
.text-warm-gray {
  color: var(--warm-gray);
}
.bg-warm-gray {
  background-color: var(--warm-gray);
}
.text-slate-gray {
  color: var(--slate-gray);
}
.bg-slate-gray {
  background-color: var(--slate-gray);
}
.text-slate-gray-light {
  color: var(--slate-gray-light);
}
.bg-slate-gray-light {
  background-color: var(--slate-gray-light);
}
.text-silver {
  color: var(--silver);
}
.bg-silver {
  background-color: var(--silver);
}
.text-water-blue {
  color: var(--water-blue);
}
.bg-water-blue {
  background-color: var(--water-blue);
}
.text-green {
  color: var(--green);
}
.bg-green {
  background-color: var(--green);
}
.text-blue {
  color: var(--blue);
}
.bg-blue {
  background-color: var(--blue);
}
.text-orange {
  color: var(--blue);
}
.bg-orange {
  background-color: var(--orange);
}
.text-pale-red {
  color: var(--pale-red);
}
.bg-pale-red {
  background-color: var(--pale-red);
}
.text-water-blue-light {
  color: var(--water-blue-light);
}
.bg-water-blue-light {
  background-color: var(--water-blue-light);
}
.text-green-light {
  color: var(--green-light);
}
.bg-green-light {
  background-color: var(--green-light);
}
.text-orange-light {
  color: var(--orange-light);
}
.bg-orange-light {
  background-color: var(--orange-light);
}
.text-red-light {
  color: var(--red-light);
}
.bg-red-light {
  background-color: var(--red-light);
}
.text-dark-sky-blue {
  color: var(--dark-sky-blue);
}
.bg-dark-sky-blue {
  background-color: var(--dark-sky-blue);
}
.text-brick {
  color: var(--brick);
}
.bg-brick {
  background-color: var(--brick);
}
.bg-pinkish-grey {
  background-color: var(--pinkish-grey);
}
.bg-light-grey-green {
  background-color: var(--light-grey-green);
}
.text-military-green {
  color: var(--military-green);
}

.cursor-pointer {
  cursor: pointer;
}
