<template>
  <div class="d-flex wrapper">
    <div class="flex-grow-1 main-form">
      <form @submit.prevent="submit">
        <TextInput
          id="title"
          label="Title"
          type="text"
          placeholder="Title"
          v-model.trim="title"
          :err="errors['article.title']"
        />
        <TextInput
          id="description"
          label="Description"
          placeholder="Description"
          type="text"
          v-model.trim="description"
          :err="errors['article.description']"
        />
        <TextArea
          id="body"
          label="Body"
          style="height: 207px; resize: none"
          type="text"
          v-model.trim="body"
          :err="errors['article.body']"
        />
        <button :disabled="loading" type="submit" class="btn btn-primary mt-4">
          <span v-if="!loading">Submit</span>
          <SpinnerLoading v-else />
        </button>
      </form>
    </div>
    <div class="tags">
      <TagsForm />
    </div>
  </div>
</template>
<script setup lang="ts">
import TextInput from '@/libs/design/TextInput/TextInput.vue';
import TextArea from '@/libs/design/TextArea/TextArea.vue';
import SpinnerLoading from '@/libs/design/Spinner/SpinnerLoading.vue';
import { ref } from 'vue';
import { useField } from 'vee-validate';
import { useForm } from 'vee-validate';
import { updateArticleBody } from '@/libs/dataLayer/schema/articles/articles';
import { toTypedSchema } from '@vee-validate/zod';
import type { Article } from '@/libs/dataLayer/model';
import type { UpdateArticleBody } from '@/libs/dataLayer/schema/articles/articles';
import TagsForm from '../Tags/TagsForm.vue';
import { getArticles as useArticle } from '@/libs/dataLayer/operations/articles/articles';
import { useRouter } from 'vue-router';
import { createToken } from '@/libs/api/createToken';
import { useToasterStore } from '@/libs/store/toastStore';
import { formatError } from '@/libs/api/formatError';

interface Props {
  article: Article | undefined;
}

const props = defineProps<Props>();

const { updateArticle } = useArticle();
const router = useRouter();
const { success, error } = useToasterStore();

const loading = ref(false);

const { errors, handleSubmit } = useForm<UpdateArticleBody>({
  validationSchema: toTypedSchema(updateArticleBody),
  validateOnMount: false,
  initialValues: {
    article: props.article,
  },
});

const { value: title } = useField('article.title');
const { value: description } = useField('article.description');
const { value: body } = useField('article.body');
const { value: tagList } = useField<string[]>('article.tagList');

tagList.value = props.article?.tagList || [];

const submit = handleSubmit(dto => {
  loading.value = true;

  updateArticle(props.article?.slug!, dto, {
    headers: {
      Authorization: createToken(),
    },
  })
    .then(() => {
      success({ text: 'Article updated Successfully' });
      router.push('/articles');
    })
    .catch(err => {
      error({ text: formatError(err.response.data.message) });
    })
    .finally(() => {
      loading.value = false;
    });
});
</script>
<style scoped>
.wrapper {
  gap: 31px;
}
.tags {
  width: 250px;
}
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .main-form {
    order: 1;
  }
  .tags {
    width: 100%;
  }
}
</style>
