<template>
  <div class="d-flex wrapper">
    <div class="flex-grow-1 main-form">
      <div class="mb-4">
        <SkeletonLoading style="width: 100px; height: 20px" class="mb-2" />
        <SkeletonLoading style="width: 100%; height: 40px" />
      </div>
      <div class="mb-4">
        <SkeletonLoading style="width: 100px; height: 20px" class="mb-2" />
        <SkeletonLoading style="width: 100%; height: 40px" />
      </div>
      <div class="mb-4">
        <SkeletonLoading style="width: 100%; height: 200px" />
      </div>
      <div>
        <SkeletonLoading style="width: 80px; height: 35px" />
      </div>
    </div>
    <div class="tags">
      <div>
        <div class="">
          <div class="mb-4">
            <SkeletonLoading style="width: 100px; height: 20px" class="mb-2" />
            <SkeletonLoading style="width: 100%; height: 40px" />
          </div>
        </div>
        <div class="wrapper">
          <div v-for="n in 10" v-bind:key="n" class="d-flex mb-2">
            <SkeletonLoading style="width: 10px; height: 10px" />
            <SkeletonLoading class="ml-2" style="width: 100px; height: 10px" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import SkeletonLoading from '@/libs/design/Skeleton/SkeletonLoading.vue';
</script>
<style scoped>
.wrapper {
  gap: 31px;
}
.tags {
  width: 250px;
}
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .main-form {
    order: 1;
  }
  .tags {
    width: 100%;
  }
}
</style>
