<template>
  <div class="text-lg text-white user-greet">Welcome {{ user?.username }}</div>
  <div class="sidebar-title text-lg text-white">Post</div>
  <RouterLink
    activeClass="active"
    to="/articles"
    class="text-white sidebar-item"
    :class="{ active: $route.name === 'articles-page' }"
  >
    All Articles
  </RouterLink>
  <RouterLink
    activeClass="active"
    to="/articles/create"
    class="text-white sidebar-item"
  >
    New Article
  </RouterLink>
  <div
    @click="handleLogout"
    class="sidebar-item cursor-pointer text-white logout"
  >
    Logout
  </div>
</template>
<script setup lang="ts">
import { useAuthStore } from '@/libs/store/authStore';
import { useRouter } from 'vue-router';

const { user, logout } = useAuthStore();
const router = useRouter();

const handleLogout = () => {
  logout();
  router.push({ name: 'login' });
};
</script>
<style scoped>
.sidebar-title {
  padding: 13px 20px 16px 20px;
}
.sidebar-item {
  display: block;
  text-decoration: none;
  padding: 11px 34px;
}
.logout {
  display: none;
}
.user-greet {
  display: none;
}
.active {
  background-color: rgba(255, 255, 255, 0.15);
}

@media screen and (max-width: 768px) {
  .logout {
    display: block;
  }
  .user-greet {
    display: block;
    padding: 13px 20px 4px 20px;
  }
}
</style>
