<template>
  <AppLayout>
    <RouterView />
    <ToastItem />
  </AppLayout>
</template>
<script setup lang="ts">
import AppLayout from '@/layouts/AppLayout.vue';
import ToastItem from './libs/design/Toast/ToastItem.vue';
</script>
