<template>
  <MainLayout v-if="$route.meta.layout === 'MainLayout'">
    <slot />
  </MainLayout>
  <AuthLayout v-else-if="$route.meta.layout === 'AuthLayout'">
    <slot />
  </AuthLayout>
</template>
<script setup lang="ts">
import MainLayout from './MainLayout/MainLayout.vue';
import AuthLayout from './AuthLayout/AuthLayout.vue';
</script>
