<template>
  <div class="loader" />
</template>
<style scoped>
.loader {
  background: linear-gradient(to right, #f1f0f0, #c1c0c0, #f1f0f0);
  background-size: 200%;
  background-position: left;
  animation: load 1s ease-out 0s infinite normal;
  border-radius: 4px;
}

@keyframes load {
  0%,
  100% {
    background-position: right;
  }
  50% {
    background-position: left;
  }
}
</style>
