<template>
  <thead class="thead">
    <tr>
      <th v-for="column in columns" v-bind:key="column">{{ column }}</th>
    </tr>
  </thead>
</template>
<script setup lang="ts">
interface Props {
  columns: string[];
}

defineProps<Props>();
</script>
<style scoped>
.thead {
  color: var(--gunmetal);
  background-color: var(--silver);
}
</style>
